*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'open sans',sans-serif;

}
body{
    height: 100vh;
    background-color:#FAEAB1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

form h1 {
    text-align: center;
    color: #FFF;
    /* padding-top: 150px; */
}

.logo {
    border-radius: 10px;
    
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 300px;

    /* background-color: black; */
    /* background-color: transparent; */
    /* background-color: rgba(0,0,0,0, 0.5); */
    box-shadow: 0 0 10px rgba(0,0,0,.0);
}
.container h1{
    text-align: left;
    color: #D3756B;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 4px solid #a58f8d;
}
.container label{
    text-align: left;
    /* color: #F2DEBA; */
    color: #a58f8d;
}
.container form input{
    width: calc(320px - 20px);
    /* padding: 10px 10px; */
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid #a58f8d;
    /* color: white; */
    color: #D3756B;
    font-size: 15px;
}

.container form button{
    width: 100px;
    padding: 5px 0;
    border: none;
    background-color:#D3756B;
    font-size: 18px;
    color:#FFF;
    /* border: 1px solid black; */

}
