body {
    margin: 0;
    padding: 0;
}

.image {
    margin-left: 20%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

form label {
    margin-right: 8%;
}